.header {
	position: relative;
  background-color: var(--color-header);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.header-rigth {
	position: relative;
  color: white;
  align-items: center;
  display: flex;
}
.header-rigth p {
	border-left: 1px solid white;
	display: flex;
	align-items: center;
	height: 30px;
	padding-left: 10px;
  text-align: left;
  line-height: 15.6px;
  /* font-family: var(--font-family); */
  font-weight: 300;
  font-size: 13px;
}
.header img {
  width: 70px;
}
.header-left{
	height: 50px;
	display: flex;
	align-items: center;
}
.header-left ul {
  color: white;
  display: flex;
  /* gap: 25px; */
  align-items: center;
}
.header-left ul li{
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90ox;
	transition: var(--transition);
}
.header-left ul li:hover{
	background-color: var(--hover-active);
}
.header-left ul li .link {
	color: white;
	padding: 10px;
	font-size: 13.6px;
	box-sizing: border-box ;
	line-height: 17.68px;
}
.active{
	line-height: 17.68px;
	text-align: center;
	font-size: 13.6px;
	padding: 10px;
	box-sizing: border-box ;
	background-color: var(--active-color);
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
  color: white;
}
.header-left ul li button{
	background-color: #1a1a1a;
	border: 1px #444444 solid;
	border-radius: 5px;
	color: white;
	font-size: 12px;
	line-height: 15.5px;
	text-align: center;
	letter-spacing: normal;
	/* padding: 10px; */
	width: 44px;
	height: 32px;
	margin:  0 40px;
}
.header-left ul li:nth-child(7):hover{
	background-color: transparent;
}
.menuBtn{
	display: none;
}
@media screen and (max-width : 850px){
	.toggleBtn ul{
		display: block;
		background-color: black;
		
	}
	.header{
		justify-content: space-between;
	}
	.header-left{
		display: none;
	}
	.toggleBtn{
		top: 50px;
		text-align: left;
		width: 100%;
		position: absolute;
		display: block;
	}
	.menuBtn{
	background-color: transparent;
	border: none;
	color: white;
	transform: translateX(35px);
	width: 30px;
	height: 30px;
	margin:  0 40px;
	display: block;
}
.menubar{
	background-color: transparent;
		font-size: 20px;
		line-height: 15.5px;
		text-align: center;
		letter-spacing: normal;
		
	}
}
@media screen and (max-width : 400px){
	.header-rigth p {
		font-size: 10px;
	}
}
